@font-face {
  font-family: 'Gibson';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Gibson/Gibson-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Gibson';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Gibson/Gibson-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Gibson';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Gibson/Gibson-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('opentype');
}


