@import "fonts";

$color-dark:  #171717;
$color-light: #F2F2F2;
$color-core:  #E1164A;

body {
  background: $color-dark;
  color: $color-light;
  font-family: 'Gibson', sans-serif;
  overflow-x: hidden;
}

::selection {
  background: $color-core;
  color: $color-dark;
}

ul {
  list-style: circle outside;
}